@model ProductManagement.Application.ViewModels.ProductViewModel

<h1>List</h1>

<h4>Product</h4>
<hr />
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
@if (TempData["Warning"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["Warning"]</p>
}
@if (TempData["Error"] != null)
{
    <p class="alert alert-danger" id="successMessage">@TempData["Error"]</p>
}
<div class="input-group mb-3">
    <input type="text" class="form-control" id="txtSearch" placeholder="Search by name" aria-label="Search" value="@ViewBag.SearchString" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" Onclick="Search()" type="button" id="button-addon2">Serach</button>
</div>
<table id="book" class="table table-bordered table-hover">
    <thead>
        <tr class="">
            <th>Name</th>
            <th>UnitPrice</th>
            <th>ReOrderLevel</th>
            <th>NumberOfUnitsAvailable</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Products != null)
        {
            @foreach (var product in Model.Products)
            {
                <tr style="height: 60px;">
                    <td>@product.Name</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.ReOrderLevel</td>
                    <td>@product.NumberOfUnitsAvailable</td>
                    <td><a class="btn btn-outline-info" asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a></td>
                    <td><a href="~/Product/Delete?id=@product.Id" id="deleteBtn" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');"><i class="fas fa-trash-alt text-white"></i>Delete</a></td>
                </tr>
            }
        }
        else
        {
            <p class="alert alert-info" id="successMessage">No records available</p>
        }
    </tbody>
</table>
@if (ViewBag.Page > 1)
{
    <a href="#" id="navPrevious" onclick="pageNavigate('Previous');return false; "
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="#" id="navNext" onclick="pageNavigate('Next');return false;"
       class="btn btn-default">
        Next &raquo;
    </a>
}

@section Scripts
{
    <script>
        function Search() {
            debugger;
            var searchVal = GetSearchVal();
            $.ajax({
                url: 'ProductList',
                data: { searchString: searchVal }
            }).done();
        }

        function GetSearchVal() {
            return $("#txtSearch").val();
        }

        function pageNavigate(navDirection) {
            debugger;
            var searchtext = GetSearchVal();
            var page = 0;

            if (navDirection == "Next") {
                page= @(ViewBag.Page)+1;
            } else if (navDirection == "Previous") {
                page = @(ViewBag.Page)-1;
            }
            window.location.href = '@Url.Action("ProductList")?page=' + page + '&searchString=' + searchtext;

        }



    </script>
} 